<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
    {{ partial "head.html" . }}
</head>
<body class="bg-white dark:bg-gray-900 text-gray-900 dark:text-white transition-colors duration-300">
    {{ partial "header.html" . }}
    
    <main class="min-h-screen">
        {{ block "main" . }}{{ end }}
    </main>
    
    {{ partial "footer.html" . }}
    
    <script src="/js/alpine.min.js" defer></script>
    {{ $js := resources.Get "js/main.js" | minify }}
    <script src="{{ $js.RelPermalink }}"></script>
</body>
</html>
